<p>
  <strong>Meal:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Ingredients:</strong>
  <%= @article.text %>
</p>
<h2>Instructions</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Author:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Instructions:</strong>
    <%= comment.body %>
  </p>
<% end %>
<h2>Add instructions:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter, 'Author' %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body, 'Instructions' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Add Instructions" %>
  </p>
<% end %>
<%= link_to 'Recipe List', articles_path %>
